.App {
  text-align: center;
}

* {
  font-family: Roboto;
}

body {
  background: #f1fbff;
  margin: 0rem 2rem;

}

.section-padding {
  padding: 10px 0;
}

/* navbar */

nav {
  background-color: white;
  color: grey;
}

.navbar-nav a {

  font-size: 20px;
  font-weight: 500px;
  color: grey;
}

.navbar-light .navbar-brand {
  color: #7DF9FF;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #000;
}

.navbar-light .navbar-link .navbar-nav {
  color: #7DF9FF;
}

@media only screen and (max-width:767px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav a {

    font-size: 15px;
    font-weight: 500px;
    color: #5D8AA8;
  }
}

/* Media Queries for responsiveness */
@media (max-width: 600px) {
  .dropdown-btn {
    padding: 12px;
    font-size: 14px;
    width: 100%;
  }

  .dropdown-content {
    min-width: 100%;
  }
}

@media (max-width: 400px) {
  .dropdown-btn {
    padding: 10px;
    font-size: 12px;
    width: 100%;
  }

  .dropdown-content {
    min-width: 100%;
  }
}

.navbar-nav li {
  justify-content: space-between;
  margin-right: 30px;
}

.container-icons {
  display: flex;
  margin-left: 5%;
}

.dropbtn {
  background-color: white;
  color: grey;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: white;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: white;
  background-color: white;
}

.dropdown:hover .dropbtn {
  background-color: white;
  color: white;

}

/* Hero */
.carousel {
  width: 100%;
  min-height: 200px;
  overflow: hidden;
  display: block;
  height: 90vh;
}

.carousel-item {
  min-width: 100%;
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 100%;
}

.card-body {
  width: 40%;
  height: auto;
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 10%;
  background-color: white;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {

  .carousel {
    max-width: 500px;
    min-height: 200px;
    height: auto;
    /* margin-bottom: 30px; */
  }

  .carousel-item {
    min-height: 300px;
    height: 30vh;
  }

  .carousel-item img {
    width: 100%;
    /* Makes the image responsive */
    height: 100%;
    /* Maintains the aspect ratio */
    display: block;
    /* Removes small gap below images caused by inline elements */
    object-fit: cover;
  }

  .card-body {
    top: 10px;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 90%;
    font-size: 0.7rem;
   
  }
}

/* Section1 */

.section-one {
  height: auto;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 30%;
  padding-bottom: 10px;
  text-align: left;
  background-attachment: fixed;
}

.section-one-caption {
  height: auto;
  padding-bottom: 10%;
}

.section-one-caption a {
  background-color: red;
  padding: 20px 50px;
  border-radius: 50px;
  color: white;
}

.section-one-caption h5 {
  font-weight: bold;
}

.section-one-caption h1 {
  font-weight: bolder;
  font-size: 80px;
}

/* Section Two */

.section-two {
  margin-top: 10px;
}

.section-two-content {
  background-color: red;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* section 3 */
.section-three-container {
  background-attachment: fixed;
}

.section-three-content {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 5% 20%;
}

/* section 4 */

.section-four-container {
  display: flex;
}

.section-four-left {
  width: 50%;
  text-align: center;
  padding: 20% 10%;
  color: white;
}

.section-four-right {
  display: flex;
  flex-wrap: wrap;
  /* Allows cards to wrap onto new lines */
  gap: 20px;
}

.cards {
  padding-left: 10px;
  margin-right: 10px;
  padding-bottom: 30px;
}

/* Section 5 */

.section-five {
  text-align: center;
  padding-top: 20px;
  font-weight: bolder;
}

.cards-five {
  display: flex;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
  margin-right: 5rem;

}

.cards-one {
  width: 20rem;
  height: 15rem;
  border-style: solid;
  border-width: 0.5px;
  border-color: grey;
  padding-top: 5rem;
}

/* Section 6 */

.section-six {
  display: flex;
  padding-top: 2rem;
  color: white;
  padding-bottom: 2rem;
  padding-left: 1rem;
  margin: 0 auto;
}

.section-six-left {
  margin: 0 auto;
  width: 50%;
}

.section-six-right {
  padding-top: 10%;
  width: 20%;
}

/* Section 7 */

.patners-container {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: blue;
}

.img-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

/* Footer */
.container-footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
}

/* Responsive Querries */

@media only screen and (max-width: 600px) {
  .section-one-caption {
    padding-bottom: 10%;
  }

  .section-one-caption h1 {
    font-size: xx-large;
  }

  .section-two-content {
    padding-top: 20px;
    padding-left: 0;
    margin-left: 0;
    align-items: left;

  }

  .section-two-two-content {
    flex-direction: column;
    margin: 0 auto;
  }

  .section-three-container {
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
  }

  .section-three-blackie {
    height: auto;
  }

  .section-three-left {
    margin-top: 0 auto;
    height: auto;
  }

  .section-four {
    padding-right: 10px;
    border-style: solid;
    border-radius: 0%;
  }

  .section-four-container {
    flex-direction: column;
    text-align: center;
  }

  .cards {
    width: 100%;

  }

  .section-four-left {
    padding-left: 10%;
    width: 100%;
  }

  .section-five {
    width: 100%;
  }

  .cards-section-three {
    width: 100%;
  }

  .cards-five {
    flex-direction: column;
  }

  .img-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .container-footer {
    width: 100%;
    height: auto;
  }

  .section-six {
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    height: auto;
    width: 100%;
  }

  .section-six-right {
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }

  .section-six-left {
    width: 100%;
  }
}